PY_INCS := \ 
 -Wno-old-style-cast \ 
-I/home/henning/miniforge3/envs/pybfoam/include/python3.11 -I/home/henning/miniforge3/envs/pybfoam/lib/python3.11/site-packages/pybind11/include


EXE_INC = \
    -I$(LIB_SRC)/finiteVolume/lnInclude \
    -I$(LIB_SRC)/meshTools/lnInclude \
    $(PY_INCS) \

LIB_LIBS = \
    -lmeshTools \
    -lfiniteVolume \
