PY_INCS := \ 
 -Wno-old-style-cast \ 
-I/home/henning/miniforge3/envs/pybfoam/include/python3.11 \ 
-I/home/henning/miniforge3/envs/pybfoam/include/python3.11 \ 
-I/home/henning/miniforge3/envs/pybfoam/lib/python3.11/site-packages/numpy/core/include


PY_LIBS := \ 
-L/home/henning/miniforge3/envs/pybfoam/lib/python3.11/config-3.11-x86_64-linux-gnu \ 
-L/home/henning/miniforge3/envs/pybfoam/lib \ 
-Wl,-rpath=/home/henning/miniforge3/envs/pybfoam/lib \ 
-lpython3.11


CONAN_INCS := \
{{{CONAN_INCS_INCS}}}

CONAN_LIBS := \
{{{CONAN_INCS_LIBS}}}

EXE_INC = \
    -I$(LIB_SRC)/finiteVolume/lnInclude \
    -I$(LIB_SRC)/meshTools/lnInclude \
    $(PY_INCS) \
    $(CONAN_INCS)

LIB_LIBS = \
    -lfiniteVolume \
    -lmeshTools \
    -L$(FOAM_USER_LIBBIN) \
    $(PY_LIBS) \
    $(CONAN_LIBS)
